@font-face {
    font-family: 'MartelSans';
    src: url('../custom-fonts/MartelSans-Regular.ttf');
}

@font-face {
    font-family: 'SolaimanLipi';
    src: url('../custom-fonts/solaiman-lipi.ttf');
}

@font-face {
    font-family: 'AdorshoLipi';
    src: url('../custom-fonts/AdorshoLipi_20-07-2007.ttf');
}

@font-face {
    font-family: 'Galada';
    src: url('../custom-fonts/Galada-Regular.ttf');
}

@font-face {
    font-family: 'HindSiliguri';
    src: url('../custom-fonts/HindSiliguri-Regular.ttf');
}

@font-face {
    font-family: 'NunitoSans-Bold';
    src: url('../custom-fonts/NunitoSans-Bold.ttf');
}

@font-face {
    font-family: 'NunitoSans';
    src: url('../custom-fonts/NunitoSans-Black.ttf');
}